<p>Coucou je suis Home page</p>

@if (publishedArticles()){
<div>
  <p>Aucun article publier</p>
</div>
}

<ul>
  @for(article of articles; track $index ) { @if( article.isPublished){
  <h2 [ngClass]="{ 'popular-article': article.likes > 100 }">
    {{ article.title }}
  </h2>
  <h4>Par {{ article.author }}</h4>
  <img [src]="article.image" alt="{{ article.title }}" />
  <p>
    {{ article.content }}
  </p>
  <p [ngStyle]="{ color: article.likes > 150 ? 'green' : 'black' }">
    Likes: {{ article.likes }}
  </p>
  <a [routerLink]="['/article', article.id]">Voir l'article</a>
  } }
</ul>
